
h1{
    color: var(--accent-color);
}

h2{
    color: var(--text-color);
}

.settings-header{
  margin-top: 200px;
}

#Dark-Mode {
  position: fixed;
  top: 20px;
  width: auto;
}

#dashboard-btn{
  position: fixed;
  top: 20px;
  margin-left: 19.1%;
  width: auto;
}