.App {
  background-color: var(--background-color);
}
#root {
  /* STYLING FOR EVERYTHING */
  padding: 2rem;
}

.Login {
  color: var(--primary-text-color);
  background-color: black;
}

#Dark-Mode {
  position: fixed;
  top: 20px;
  width: auto;
}


