.App {
  background-color: var(--background-color);
}
#root {
  /* STYLING FOR EVERYTHING */
  padding: 2rem;
}
@media(max-width: 1100px){
  .wrapper{
    width: min(600px, 100%);
    border-radius: 0;
  }
}
.Login {
  color: var(--primary-text-color);
  background-color: black;
}

#Dark-Mode {
  position: fixed;
  top: 20px;
  width: auto;
}


