:root {
  --accent-color: #29812f;
  --base-color: white;
  --text-color: #2e2b41;
  --input-color: #f3f0ff;
  --background-color: white;
  --foreground-color: green;
  --primary-text-color: black;
  --toggle-bg: grey;
  --toggle-fg: rgb(60, 54, 54);
  --tile-bg: rgb(196, 230, 199);
  --shadow-color: gray;
  --hover-color: white;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  --accent-color: #77dd77; /* Softer green for contrast */
  --base-color: #1e1e1e;
  --text-color: #f5f5f5;
  --input-color: #333;
  --background-color: black;
  --foreground-color: lightgreen;
  --primary-text-color: white;
  --tile-bg: rgb(58, 98, 57);
  --toggle-bg: #444;
  --toggle-fg: #f5f5f5;
  --shadow-color: gray;
  --hover-color: #2f9436;
}

button {
  border-radius: 1000px;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
  margin-left: 10px;
}

@media (max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}
